.page {
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: 'IBM Plex mono', monospace;
  font-size: 18px;
  background-image: url('../images/cover-image-dark.png');
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

.header {
  position: relative;
  display: grid;
  min-height: 100vh;
  padding: 10px;
  grid-template-rows: 1fr min-content 1fr;
  align-items: center;
}


.content {
  padding: 40px 10px;
}

.content-section {
  margin-block-end: 50px;
}

.content-section:last-child {
  margin-block-end: 0;
}

.decorated-zone::before {
  content: '';
  position: absolute;
  inset-block-start: 10px;
  inset-inline-end: 10px;
  width: 25px;
  height: 25px;
  border-block-start: 1px solid var(--decor-color);
  border-inline-end: 1px solid var(--decor-color);
}

.decorated-zone::after {
  content: '';
  position: absolute;
  inset-block-end: 10px;
  inset-inline-start: 10px;
  width: 25px;
  height: 25px;
  border-block-end: 1px solid var(--decor-color);
  border-inline-start: 1px solid var(--decor-color);
}

.header__rec {
  position: absolute;
  inset-block-start: 10px;
  inset-inline-end: 38px;
  color: var(--decor-color);
  line-height: 25px;
}

.header__rec::after {
  content: '';
  display: inline-block;
  width: 9px;
  height: 9px;
  margin-inline-start: 10px;
  border-radius: 50%;
  background-color: var(--decor-color);
  box-shadow: 0 0 4px 2px var(--decor-color);
}

.footer {
  position: relative;
  display: grid;
  min-height: 100vh;
  padding: 10px;
  place-items: center;
}

.footer__title {
  margin: 0;
  color: var(--title-color);
  font-size: clamp(7.25rem, 7rem + 1.3vw, 9.8125rem);
  font-weight: 700;
  line-height: 0.83;
  text-shadow: 4px 4px 0 var(--accent-color);
}

.header__theme-menu {
  justify-self: end;
  align-self: center;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.header__theme-menu-button {
  border: 1px solid transparent;
  padding: 1px 13px;
  color: var(--decor-color);
  font-family: inherit;
  font-size: 18px;
  line-height: 18px;
  text-transform: lowercase;
  background-color: transparent;
  cursor: pointer;
}

.header__theme-menu-button:hover {
  border-color: var(--decor-color);
}

.header__theme-menu-button_active {
  border-color: var(--decor-color);
  pointer-events: none;
}

.header__title {
  margin: 0;
  color: var(--title-color);
  font-size: clamp(7.25rem, 7rem + 1.3vw, 9.8125rem);
  font-weight: 700;
  line-height: 0.83;
  text-shadow: 4px 4px 0 var(--accent-color);
}

.header__description {
  align-self: center;
  justify-self: end;
  max-width: 355px;
  margin: 0;
  color: var(--decor-text-color);
  font-weight: 700;
  line-height: 23.4px;
}

.title-decor {
  background-color: var(--accent-color);
  color: var(--decor-text-color);
}

.content-section__title {
  margin: 0 0 20px;
  color: var(--decor-color);
  font-size: 18px;
  font-weight: 700;
  line-height: 23.4px;
}

.content-section__article {
  margin-block-end: 20px;
}

.content-section__article:last-child {
  margin-block-end: 0;
}

.content-section__subtitle {
  margin: 0 0 10px;
  color: var(--decor-text-color);
  font-size: 18px;
  font-weight: 700;
  line-height: 23.4px;
}

.content-section__text {
  margin: 0;
  line-height: 23.4px;
}

.content-section {
  display: grid;
  gap: 20px;
}

.content-section__body {
  display: grid;
  gap: 20px;
}

.content-section_type_tips .content-section__subtitle {
  font-weight: 400;
}

.content-section_type_tips>.content-section__body>.content-section__subtitle {
  font-weight: 700;
}

.content-section__text a {
  color: inherit;
  text-decoration: none;
  text-shadow: 2px 2px 0 var(--accent-color);
}

.content-section__text a:hover {
  border-block-end: 1px solid currentColor;
}

.content-section__text a:focus-visible {
  outline: 1px solid currentColor;
}

.gallery {
  margin-block-start: 50px;
}

.gallery__title {
  margin: 0 0 10px;
  font-size: 18px;
  line-height: 23.4px;
}

.gallery__items {
  display: grid;
  gap: 10px;
}

.gallery__image {
  display: block;
  width: 100%;
}
