.page {
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: 'IBM Plex mono', monospace;
  font-size: 18px;
  background-attachment: fixed;
}

.content {
  padding: 40px 10px;
}

.content-section {
  margin-block-end: 50px;
}

.content-section:last-child {
  margin-block-end: 0;
}
